extends layout

block scripts
	script(src='/script/client.js')
	script(src='script/ui.js')

block content
	- var user = summary.user
	- var date = summary.date

	div
		h1(class='inline')= title
			if user
				span(id='user')= ' - ' + user

		button(type='button' class='btn btn-xs btn-primary pull-right scrape-now') Scrape Now
		if date
			span(id='scrapedDate' class='pull-right margin-right')= '前回: ' + date

	p Welcome to #{title}

	//-if date
	div
		h2='* Status'

		table(class='table table-state')
			thead
				tr(class='bg-light')
					each val, key in summary
						if key=='user' || key=='date'
							- continue

						if val.isValid
							th
								a(href=val.url target='_blank')=key
								if val.isDisp
									button(class='margin-left nm-debug-off' data-sec=key)='nm off'

			tbody
				tr
					each val, key in summary
						if key=='user' || key=='date'
							- continue
						if val.isValid
							if val.isSuccess
								if val.errors.length
									td(class='bg-warning status' data-sec=key)='△'
								else
									td(class='bg-success status' data-sec=key)='○'
							else if val.isSuccess===false
								td(class='bg-danger status' data-sec=key)='☓'
							else
								td(class='bg-danger status' data-sec=key)='-'
	if date
		div
			h2='* Detail'
			each val, key in summary
				if key=='user' || key=='date'
					- continue
				if val.isSuccess!=null
					h3(class='bg-info')=key

					h4='■ ブックビル銘柄'
					- var bookBilled = val.bookBilled

					if ( bookBilled.length==0 )
						span(class='margin-left')='なし'
					else
						for item in bookBilled
							li(class='margin-left')=item.name+' ('+item.code+')'

					- var notes = val.notes
					if ( notes.length!=0 )
						h4='■ 備考'
						for msg in notes
							li(class='margin-left text-warning')=msg
					h4='■ 抽選結果'
					- var results = val.results
					if ( results.length==0 )
						span(class='margin-left')='なし'
					else
						for item in results
							- var result = item.result
							li(class='margin-left')
								// if result.includes('当選') && !result.includes('なし')
								if result.includes('落選')==false
									span(style='color:green; font-weight:bold')=result
								else
									strong=result
								span=': '+item.name+' ('+item.code+')'
					h4='■ デバッグ情報'
					- var errs = val.errors
					if ( errs.length==0 )
						span(class='margin-left')='なし'
					else
						for msg in errs
							li(class='margin-left text-danger')=msg

